.d-center {
  display: grid;
  place-content: center;
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-jus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2d305d;
}

.fullPage {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  border: 1px solid red;
}

main {
  background-image: url("../images/mainBg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
main .container {
  position: relative;
}
main .container header {
  margin-top: 48px;
  margin-bottom: 100px;
}
main .container header .headerleft {
  display: flex;
  align-items: center;
  gap: 59px;
}
main .container header .headerleft .logo a {
  display: flex;
  align-items: center;
  gap: 11px;
  transition: all 0.4s ease;
}
main .container header .headerleft .logo a:active {
  transform: scale(0.95);
}
main .container header .headerleft .logo a h4 {
  color: #292930;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 97.827%;
  letter-spacing: -0.84px;
}
main .container header .headerleft .logo a h4 span {
  color: #5956e9;
  font-family: "Poppins";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 97.827%;
  letter-spacing: -0.84px;
}
main .container header .headerleft nav ul {
  display: flex;
  align-items: center;
  gap: 55px;
}
main .container header .headerleft nav ul li {
  padding: 6px 0;
  position: relative;
}
main .container header .headerleft nav ul li a {
  color: #999fae;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
  transition: all 0.4s ease;
}
main .container header .headerleft nav ul li a:last-child {
  display: flex;
  align-items: center;
  gap: 14px;
}
main .container header .headerleft nav ul li a:last-child img {
  transition: all 0.4s ease;
}
main .container header .headerleft nav ul li::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #5956e9;
  bottom: 0;
  left: 50%;
  content: "";
  transform: translate(-50%) scale(0, 1);
  transition: all 0.4s ease;
}
main .container header .headerleft nav ul li:hover::after {
  transform: translate(-50%) scale(1, 1);
}
main .container header .headerleft nav ul li:hover a {
  color: #292930;
}
main .container header .headerleft nav ul li:hover a:last-child img {
  transform: rotate(-180deg);
}
main .container header .headerRight {
  display: flex;
  align-items: center;
  gap: 40px;
}
main .container header .headerRight .searchBox a {
  display: block;
  transition: all 0.4s ease;
}
main .container header .headerRight .searchBox a:active {
  transform: scale(0.95);
}
main .container header .headerRight .btn {
  padding: 24px 47px;
  background-color: #fab8c4;
  color: #2522ba;
  border-radius: 20px;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: -0.64px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
main .container header .headerRight .btn:hover {
  opacity: 0.8;
}
main .container header .headerRight .btn:active {
  transform: scale(0.95);
}
main .container .exploreBox {
  width: 100%;
}
main .container .exploreBox .exploreInsideBox .exploreHeader {
  margin-bottom: 34px;
}
main .container .exploreBox .exploreInsideBox .exploreHeader h2 {
  color: #27272E;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.9px;
}
main .container .exploreBox .exploreTextBox {
  display: flex;
  align-items: center;
  gap: 24px;
}
main .container .exploreBox .exploreTextBox .exploreText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
}/*# sourceMappingURL=style.css.map */